.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  padding: 40px 30px;
  margin: 50px 50px 20px 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(186, 183, 183);
  width: 350px;
}

.inner_container form h1 {
  font-size: 2rem;
  padding: 5px 0;
}

.inner_container form p {
  padding: 0 0 20px 0;
}

h2{
  font-size: 1.2rem;
  color: #0B66C3;
  padding: 0 0 10px 0;
  cursor: pointer;
}

.inner_container form .ui form button{
  border-radius: 25px;
}

.inner_container .joinText span{
  color: #0B66C3;
  font-weight: bold;
}

.titleText {
  text-align: center;
  font-size: 2rem;
  padding-top: 20px ;
}

label {
  color:#6b6b6b;
}

h3 {
  text-align: center;
  font-size: 0.7rem;
  padding-bottom: 10px;
}

h3 span {
  font-weight: bold;
  color:#0B66C3;
  cursor: pointer;
}

.inner_container form .ui h4 {
  text-align: center;
  padding: 10px 0 0 0 ;   
}

.inner_container form .ui h4 span {
  color: #0B66C3;
  font-weight: bold;
}

.inner_container .bissText span {
  color: #0B66C3;
  font-weight: bold;
  cursor: pointer;
}

h1 {
  padding: 30px;
  text-align: center;
  font-size: 3rem;
}

h1 span {
  color: red;
}

.buttonsDiv{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;
}



.dataGrid{
  /* position: relative; */
  padding: 0 10%;
  height: 70vh;
  /* width: 100%;
  min-width: 900px; */
}

@media only screen and (max-width:1300px) {
 .dataGrid {
  overflow-x: scroll;
  height: 70vh;
 }  
}

.whole {
  height: 100vh;
  background: linear-gradient(to right, #acb6e5, #86fde8);
}

/* Grid header */
.dataGrid .k-grid-header-wrap {
  background-color: #EEEEEF;

}

form {
  background-color: #FCF6F6;
}

.loginForm {
  display: flex;
  height: 100vh;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.backbutton {
  margin-left: auto;
  margin-right: 25px;
}

.backBtn {
  margin-top: 5px;
}

.title h1{
  padding: 5px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  margin: 10px 0 20px 0;
  border-radius: 5px;
}

.card.hovercard {
  z-index: 999;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.688);
}

.card.hovercard .cardheader {
  background-size: cover;
  height: 95px;
}

.card.hovercard .avatar {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 2rem;
  line-height: 30px;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 30px;
  color: #737373;
  text-overflow: ellipsis;
}